<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiran.mtodoList.mapper.TaskMapper">

	<insert id="addTask">
		INSERT INTO task SET 
		title=#{title},description=#{description},dueDate=#{dueDate},state=#{state}
	</insert>

	<update id="updateTask">
		UPDATE task SET 
		title=#{title},description=#{description},dueDate=#{dueDate},state=#{state} 
		WHERE id=#{id}
	</update>
	
	<select id="getTaskById" parameterType="Long" resultType="com.yiran.mtodoList.bean.Task">
        SELECT id,title,description,dueDate,state FROM task
        WHERE id=#{id}
    </select>
    
    <delete id="deleteTaskById">
        DELETE FROM task 
        WHERE id=#{id}  
    </delete>
    
    <select id="getAllTasks" resultType="com.yiran.mtodoList.bean.Task">
        SELECT * FROM task
    </select>
    
        
    <!-- Search tasks by title, description, dueDate, state -->
    <select id="searchTasksByKeywords" resultType="com.yiran.mtodoList.bean.Task">
    	SELECT * FROM task WHERE id!=0
    	<if test="title!=null">
    		AND LOWER(title) LIKE concat('%',#{title},'%')
    	</if>
    	
    	<if test="description!=null">
    		AND LOWER(description) LIKE concat('%',#{description},'%')
    	</if>
    	
    	<if test="dueDate!=null">
    		AND DATE(dueDate)=#{dueDate}
    	</if>
    	
    	<if test="state!=null">
    		AND state LIKE concat('%',#{state},'%')
    	</if>
    </select>
</mapper>